.breadcrumbs {
    margin: 5px 20px;
    padding-left: 0;
}
.breadcrumbs li {
    display: inline;
    list-style-type: none;
}
.breadcrumbs li+li:before {
    content: "❯";
    padding: 5px;
    color: #FF7D5A;
}
.breadcrumbs li a {
    color: #f4511e;
    text-decoration: none;
}
.breadcrumbs li a:hover {
    color: #0085B2;
    text-decoration: none;
}
.breadcrumbs li span {
    color: #757575;
}