.repositoryPage {
    display: flex;
    flex-direction: column;
}
ul.repositoryNav {
    background-color: #f4511e;
    height: 44px;
    padding: 0;
    margin: 0;
    text-align: center;
}
ul.repositoryNav li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.repositoryNav li a {
    color: #FFF;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    padding: 11px 25px;
    display: inline-block;
}
ul.repositoryNav li a:hover {
    color: yellow;
}
.repositoryContent {
    padding: 10px 20px;
}

@media only screen and (max-width: 481px) and (min-width: 320px) {
    ul.repositoryNav {
        height: 38px;
    }
    ul.repositoryNav li a {
        padding: 10px;
        font-size: 0.9rem;
    }
    ul.repositoryNav li a:hover {
        color: yellow;
    }
}